---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Tag from "./Tag.astro";

interface Props {
  img: ImageMetadata;
  title: string;
  text: string;
  tags: string[];
  type: "work" | "blog";
  id: string;
}

const { title, text, tags, img, type, id } = Astro.props;
---

<a class="card" href={`/${type}/${id}`}>
  <Image src={img} alt={`works-img-${title}`} class="img" />
  <div class="text-area">
    <h1 class="title">{title}</h1>
    <p class="text">{text}</p>
    <ul class="tags">
      {
        tags.map((tag) => (
          <li>
            <Tag label={tag} size="sm" />
          </li>
        ))
      }
    </ul>
  </div>
</a>

<style>
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 16px var(--shadow-color);
    border-radius: 16px;
    background: var(--card-bg);
    transition: all 0.4s ease;

    &:hover {
      box-shadow: none;
    }
    .img {
      width: 100%;
      height: auto;
      border-radius: 16px 16px 0 0;
    }
    .text-area {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 20px;
      border-top: solid 1px var(--border-light);

      .title {
        font-weight: 600;
        font-size: 1.2rem;
      }

      .text {
        color: var(--text-secondary);
      }

      .tags {
        margin-top: 2px;
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
        list-style: none;
      }
    }
  }
</style>
